html
    head
        link(href='status.css', rel='stylesheet')
        title TON-ACCESS Status Page
    body
        .cont
            h1 ORBS TON-Access Status Page
            
            .header
                .box.border Node
                each column in columns
                    .box.border #{column}
            each node in nodes
                .node
                    .info.box.border(class= node.Healthy == 1? "healthy":"down")                     
                        .edgeName #{node.BackendName}
                        div #{node.displayName}
                        div Edge-Health: #{node.Healthy}
                        div #{node.Ip}
                    each unit in node.units
                        .unit.box.border(class= unit.status === 200? "healthy":"down") 
                            a(href="#{unit.url}" target="_blank" )                         
                                if unit.error
                                    div error: #{unit.error}
                                else
                                    div status: #{unit.status}    
                                    div(class= unit.elapsedMS > 470? "slow":"ok") elapsed : #{unit.elapsedMS} ms                                    
                                    div(class= unit.benchmarkMS > 0? "slow":"fast") benchmark : #{unit.benchmarkMS} ms
                                    div seqno: #{unit.seqno}
            
            div.info Update time: #{new Date(succesTime).toLocaleString()}
            div.info Update duration: #{updateDuration}
